useDynLib(PReMiuM)
exportPattern("^[[:alpha:]]+")


importFrom(grid,grid.layout, grid.newpage, pushViewport, viewport, unit)
importFrom(gamlss.dist,rWEI2)

import(cluster)
import(Rcpp)
import(ggplot2)
import(plotrix)



